In [1]:
# This ipynb file was created based on the work on a mini project from dqlab

#Extract

In [8]:
import pandas as pd
df_participant = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv')

In [11]:
df_participant

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09
...,...,...,...,...,...,...,...,...,...,...
4995,5f084245-58cb-4360-8cff-112f06f7214e,Mitra,Latupono,27 Apr 2000,"Jl. Monginsidi No. 5\nCirebon, BB 50268",+62 (050) 795-8398,Hongaria,Institut Teknologi Sepuluh Nopember,Business Intelligence Engineer,1.617634e+09
4996,fc6e142a-3f66-4330-9975-8c1dc7f9bb03,Indah,Rahmawati,06 Mar 1996,"Gang Joyoboyo No. 73\nBogor, BT 57434",+62 (0443) 963 0055,Norwegia,CV Safitri Hastuti Tbk,Data Engineer,1.617634e+09
4997,4521ff9f-4aec-401b-84aa-a4e6fc6549a4,Irsad,Najmudin,14 Feb 2003,"Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312",+62 (0408) 216-7689,Ghana,Universitas Katolik Widya Manadala,Fullstack Engineer,1.617634e+09
4998,1c91596e-427c-44a7-b7d0-974f44e18381,Carla,Nasyidah,22 Aug 1994,"Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...",+62 (0751) 380 3352,Gambia,CV Permadi (Persero) Tbk,Fullstack Engineer,1.617634e+09
4999,5d682e84-bcb5-43e9-8ce0-615364f5376a,Darmana,Maryadi,09 Feb 2002,"Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...",+62 (066) 414 8791,Singapura,Perum Laksita Kuswandari,DevOps Engineer,1.617634e+09

In [12]:
df_participant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   participant_id  5000 non-null   object
 1   first_name      5000 non-null   object
 2   last_name       5000 non-null   object
 3   birth_date      5000 non-null   object
 4   address         5000 non-null   object
 5   phone_number    5000 non-null   object
 6   country         5000 non-null   object
 7   institute       5000 non-null   object
 8   occupation      5000 non-null   object
 9   register_time   5000 non-null   float64
dtypes: float64(1), object(9)
memory usage: 390.8+ KB

#Transform

##Transform Part I - Postal Code
There was a request from the logistics team that they needed the postal code of the participants to make sending trophies easier and faster. Therefore, create a new column named postal_code which contains information about the postal code taken from the participant's address (address column).

Note:
If the regex entered cannot capture the pattern from the address column value, it will generate NaN.

In [13]:
df_participant['address']

0                Gg. Monginsidi No. 08\nMedan, Aceh 80734
1          Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434
2                  Jalan Kebonjati No. 0\nAmbon, SS 57739
3         Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156
4       Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...
                              ...
4995              Jl. Monginsidi No. 5\nCirebon, BB 50268
4996                Gang Joyoboyo No. 73\nBogor, BT 57434
4997     Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312
4998    Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...
4999    Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...
Name: address, Length: 5000, dtype: object

In [15]:
'''
(\d+) : This is a capture group that matches one or more digits (\d+). It will capture text consisting of one or more digits that are at the end of the string.
$     : This is the anchor that matches the end of the string. This indicates that we want to match text that is at the end of the string.
'''
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$')
df_participant['postal_code']

0       80734
1       09434
2       57739
3       76156
4       70074
        ...
4995    50268
4996    57434
4997    95312
4998    80657
4999    41134
Name: postal_code, Length: 5000, dtype: object

##Transform Part II - City

To provide this information, the city is obtained from the address column. It is assumed that the city is a set of characters that appear after the street number followed by \n (newline character)

In [16]:
'''uses the regex pattern positive lookbehind ((?<=\n)) to match the newline character before the city text,
and positive lookahead ((?=,)) to match the comma character after the city text'''

df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w.+)(?=,)')
df_participant['city']

0              Medan
1         Prabumulih
2              Ambon
3       Lubuklinggau
4             Kediri
            ...
4995         Cirebon
4996           Bogor
4997    Tanjungbalai
4998          Manado
4999         Bontang
Name: city, Length: 5000, dtype: object

##Transform Part III - Github
uses the github profile as a parameter to create a new field named github_profile which is the participant's github profile link.

Note that the github profile is a lowercased combination of first_name and last_name.

In [17]:
df_participant['first_name'].head()

0       Citra
1        Aris
2    Cornelia
3       Soleh
4        Vivi
Name: first_name, dtype: object

In [18]:
df_participant['last_name'].head()

0    Nurdiyanti
1      Setiawan
2     Handayani
3        Rajasa
4        Astuti
Name: last_name, dtype: object

In [20]:
'''
creates a GitHub profile URL formed from the base text,
followed by a username consisting of a combination of
'first_name' and 'last_name' in lower case using the lower() method

'''

df_participant['github_profile'] = 'https://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()
df_participant['github_profile']

0         https://github.com/citranurdiyanti
1            https://github.com/arissetiawan
2       https://github.com/corneliahandayani
3             https://github.com/solehrajasa
4              https://github.com/viviastuti
                        ...
4995        https://github.com/mitralatupono
4996       https://github.com/indahrahmawati
4997        https://github.com/irsadnajmudin
4998        https://github.com/carlanasyidah
4999       https://github.com/darmanamaryadi
Name: github_profile, Length: 5000, dtype: object

##Transform Part IV - Mobile Number
in the 'phone_number' data set column, the mobile number has a different format. Therefore, it is necessary to clean the mobile number data so that it has the same format.

notes:

If the HP number prefix is the number 62 or +62 which is the Indonesian telephone code, then it is translated to 0.
No punctuation such as opening bracket, closing bracket, dash⟶ ()-
There is no space in the column name for the cell phone number to store the cleaning results for the cell phone number, namely cleaned_phone_number

In [21]:
df_participant['phone_number'].head()

0       (0151) 081 2706
1    +62 (036) 461 7027
2          089 833 6695
3    +62 (418) 329-4756
4            0812511835
Name: phone_number, dtype: object

In [22]:
# replaces the '+62' or '62' prefix with a '0'.
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')

<ipython-input-22-bcea65e60dc9>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')

In [23]:
# removes the characters '(', ')', and '-' in the column
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')

<ipython-input-23-5add7c8a6451>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')

In [24]:
# removes all spaces in the column
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')

<ipython-input-24-a712478d5aaf>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')

In [25]:
df_participant['cleaned_phone_number'].head()

0    01510812706
1    00364617027
2     0898336695
3    04183294756
4     0812511835
Name: cleaned_phone_number, dtype: object

##Transform Part V - Team Name
notes:

the team name is the combined value of the first_name, last_name, country and institute columns.

In [26]:
df_participant['country']

0           Georgia
1       Korea Utara
2            Komoro
3           Eritrea
4          Aljazair
           ...
4995       Hongaria
4996       Norwegia
4997          Ghana
4998         Gambia
4999      Singapura
Name: country, Length: 5000, dtype: object

In [27]:
df_participant['institute']

0                      UD Prakasa Mandasari
1                    Universitas Diponegoro
2                  UD Hardiansyah Puspasari
3                 Perum Tampubolon Yuliarti
4                    PT Hardiansyah Rahimah
                       ...
4995    Institut Teknologi Sepuluh Nopember
4996                 CV Safitri Hastuti Tbk
4997     Universitas Katolik Widya Manadala
4998               CV Permadi (Persero) Tbk
4999               Perum Laksita Kuswandari
Name: institute, Length: 5000, dtype: object

In [28]:
# returns a string consisting of the name, country, and institute abbreviation based on the column values in row
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Abbreviation of First Name and Last Name by taking the first letter
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) #The abbreviation of the value in the column institute
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)
df_participant['team_name'].head()

0       CN-Georgia-UPM
1    AS-Korea Utara-UD
2        CH-Komoro-UHP
3       SR-Eritrea-PTY
4      VA-Aljazair-PHR
Name: team_name, dtype: object

##Transform Part VI - Email
e-mail is important information but not yet available.
format for creating an email as follows:

Email formats:

xxyy@aa.bb.[ac/com].[cc]

Information:

xx -> first name (first_name) in lowercase

yy -> last name (last_name) in lowercase

aa -> institution name

For bb and cc values follow the value of aa. The rules:
- If the institution is a University, then
   bb -> the combination of the first letters of each word of the university name in lowercase
   Then, followed by .ac indicating the academy/study institution and followed by the cc pattern
- If the institution is not a University, then
   bb -> the combination of the first letters of each word of the university name in lowercase
   Then, followed by .com. Please note that the cc pattern does not apply to this condition

cc -> is the country of origin of the participant, as for the rules:
- If the number of words in that country is more than 1 then take the abbreviation of that country in lowercase
- However, if the number of words is only 1 then take the first 3 letters of the country in lowercase

In [ ]:
def func(col): # returns a string that acts as an email address with a different format depending on the values of the columns in the given row.
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) # Abbreviation of company name in lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: # Condition to check whether the number of words from country is more than 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)
df_participant['email'].head()

0      citranurdiyanti@upm.com
1        arissetiawan@ud.ac.ku
2    corneliahandayani@uhp.com
3          solehrajasa@pty.com
4           viviastuti@phr.com
Name: email, dtype: object

##Transform Part VII - Date of Birth
Changing the format from object type to datetime (YYYY-MM-DD)

In [29]:
df_participant['birth_date']

0       05 Feb 1991
1       11 Jan 1993
2       31 Jul 1993
3       04 Nov 1991
4       22 Jan 2003
           ...
4995    27 Apr 2000
4996    06 Mar 1996
4997    14 Feb 2003
4998    22 Aug 1994
4999    09 Feb 2002
Name: birth_date, Length: 5000, dtype: object

In [31]:
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %b %Y')
df_participant['birth_date']

0      1991-02-05
1      1993-01-11
2      1993-07-31
3      1991-11-04
4      2003-01-22
          ...
4995   2000-04-27
4996   1996-03-06
4997   2003-02-14
4998   1994-08-22
4999   2002-02-09
Name: birth_date, Length: 5000, dtype: datetime64[ns]

##Transform Part VII - Competition List Date
change data type float to datetime (YYYY-MM-DD HH:mm:ss)

In [33]:
df_participant['register_time']

0       1.617634e+09
1       1.617634e+09
2       1.617634e+09
3       1.617634e+09
4       1.617634e+09
            ...
4995    1.617634e+09
4996    1.617634e+09
4997    1.617634e+09
4998    1.617634e+09
4999    1.617634e+09
Name: register_time, Length: 5000, dtype: float64

In [34]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s',)
df_participant['register_at']

0      2021-04-05 14:47:26
1      2021-04-05 14:46:58
2      2021-04-05 14:47:15
3      2021-04-05 14:47:14
4      2021-04-05 14:46:50
               ...
4995   2021-04-05 14:46:16
4996   2021-04-05 14:46:48
4997   2021-04-05 14:46:06
4998   2021-04-05 14:46:45
4999   2021-04-05 14:46:51
Name: register_at, Length: 5000, dtype: datetime64[ns]

# Load

In [35]:
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,register_at
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,2021-04-05 14:47:26
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,2021-04-05 14:46:58
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,2021-04-05 14:47:15
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,2021-04-05 14:47:14
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,2021-04-05 14:46:50

In [36]:
# save pandas dataframe to csv
df_participant.to_csv('newParticipant.csv', index=False)

##Conclusion


The current dataset is different from the previous extraction process. There are some additional columns that take advantage of other column values.

The dataset currently contains the columns:

participant_id: ID of the hackathon participant. This column is unique so that participants must have different IDs

first_name: participant's first name

last_name: participant's last name

birth_date: participant's date of birth (formatted to YYYY-MM-DD)

address: the participant's residential address

phone_number: Participant's cellphone/phone number

country: the participant's country of origin

institute: current participating institution, can be a company name or university name

occupation: the participant's current occupation

register_time: the time the participant registers for the hackathon in seconds

team_name: the name of the participating team (a combination of first name, last name, country and institution)

postal_code: postal code of the participant's address (taken from the address field)

city: city of the participant (taken from the address field)

github_profile: link to the participant's github profile (a combination of first name and last name)

email: participant's email address (a combination of first name, last name, institution and country)

cleaned_phone_number: participant's cellphone/phone number (already more in line with the telephone number format)

register_at: date and time the participant registers (already in DATETIME format)